.mainBanner {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.bannerImage {
    width: 100%;
    height: auto;
}

.mainBannerContent {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align:left;
    color: #fff; 
}

.mainBannerContent h2 {
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 10px;
}

.mainBannerContent p {
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 850px) {
    .mainBannerContent h2 {
        font-size: 2em;
    }

    .mainBannerContent p {
        font-size: 1em;
    }
}

@media screen and (max-width: 650px) {


    .mainBannerContent {
        padding: 10px; 
    }
    .mainBannerContent h2 {
        font-size: 1.5em;
        margin-bottom: 8px;
    }

    .mainBannerContent p {
        font-size: 0.9em;
    }
}
 
@media screen and (max-width: 530px) {


    .mainBannerContent {
        padding: 10px; 
    }
    .mainBannerContent h2 {
        font-size: 1em;
        margin-bottom: 8px;
    }

    .mainBannerContent p {
        font-size: 0.8em;
    }
}


@media screen and (max-width: 415px) {


    .mainBannerContent h2 {
        font-size: 0.8em;
        margin-bottom: 6px; 
    }

    .mainBannerContent p {
        font-size: 0.5em; 
    }
}