.bannerContent {
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url('../../assets/yellow_banner\ 2.png');
    height: auto;
    color: #59108A;
    /* font-size: 40px; */
    padding: 22px 110px;
    
}

.bannerContent h2{
    font-size: 40px;
    font-weight: lighter;
}

.para{
    padding: 0;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 850px) {

    .bannerContent h2{
        font-size: 2em;
    }

    .para{
        font-size: 1em;
    }
}
@media (max-width: 650px) {

    .bannerContent{
        padding: 22px 80px;
    }

    .bannerContent h2{
        font-size: 1.5em;
    }

    .para{
        font-size: 0.9em;
    }
}

@media (max-width: 530px) {
    .bannerContent{
        padding: 22px 70px;
    }

    .bannerContent h2{
        font-size: 1em;
    }

    .para{
        font-size: 0.8em;
    }
}

@media (max-width: 415px) {
    .bannerContent{
        padding: 22px 50px;
    }

    .bannerContent h2{
        font-size: 0.8em;
    }

    .para{
        font-size: 0.5em;
    }
}