.footer {
  display: flex;
  align-items: center;
  position: relative;
}

.footerContent {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 20px;
  width: 100%;
  max-width: 700px;
}