.footer{
  display: flex;
  align-items: center;
  position: relative;

}

.footerContent {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 50px;
  height: auto;
  /* width: 350px; Remove or adjust the width property */
}
