.bannerContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url('../assets//yellow_banner\ 2.png');
    height: auto;
    color: #59108A;
    font-size: 35px;
    padding: 20px 75px;
}

.para{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}