body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Roboto', sans-serif;
}